<article class="container superior blanco">
    <div class="row">
        <div class="col-lg-9 col-md-12 mx-0 px-0" style="background-color: #407cca;">
            <div class="col text-article-header">
                <h2>EVENTO DE DISCORD</h2>
               Invita a tus amigos al Discord de Intocables RP - El Original y puedes ganar "Into Coins".
               <br/>
          
               
                <h4>1er Lugar : 1100 <span style="color: rgb(238, 255, 0);"> IntoCoins</span></h4>  
              
                <h4>2do Luger : 450 <span style="color: rgb(238, 255, 0);">IntoCoins</span></h4> 
                
               Simplemente crea 1 enlace de INVITACION al canal #💬﹞general  de 1 dia e invita a las personas a que se unan a este discord.<br/>
                
                    No es un sorteo solo necesitas invitar y el dia 16 de Diciembre a las 9:00PM (Hora Perú) se Anunciarán a los 2 Ganadores . (Internamente los ADMINS podemos ver cuantos usos tuvieron los enlaces de invitación).<br/>
                 
               
            
            </div>



        </div>
        <div class="col-lg-3 mx-0 px-0 d-none d-lg-block " >
            <a title="Los Tejos" href="https://shop.intocablesrp.com">
            <img src="https://cdn.discordapp.com/attachments/738292158871765016/788580602219069460/Post-IntoCoins.png">
        </a>
            
        </div>
    </div>

    <app-tabla></app-tabla>
</article>
