article{
    box-shadow: 6px 3px 10px 1px rgba(17, 17, 17, 0.75);
    background-color: #424242;
}
.img-s{
    background-image: url(https://cdn.discordapp.com/attachments/738292158871765016/788580602219069460/Post-IntoCoins.png);
    background-position: center center;

}
img{
    width: 100%;
}
.text-article-header{
    font-style:italic ;
   

}
.superior{
    z-index: 2;
    position: relative; 
  
    bottom: 45px;
   
  
  }
  